doctype 5
html(lang="en")
  head
    title todo-component-example
    link(rel="stylesheet", href="build.css")
  body
    h1 TODOs
    #content
    script(src="build.js")
    script
      require("boot")